body {
    background-color: rgb(100, 100, 100);
}

.App {
    text-align: center;
    font-family: carlito;
    height: 100%;
}

.App_ToDoList {
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    height: 100%;
    width: 950px;
    background-color: rgb(150, 150, 150);
    border-radius: 20px;
}

.ToDoList_Title {
    color: white;
    font-size: 50px;
    text-decoration: underline;
}

.Add_Button {
    border: transparent;
    line-height: 1.5;
    border-radius: 10px;
    padding: 3px 10px;
    background-color: rgb(220, 220, 220);
    border: 1px solid black;
    margin: 10px 0;
  }

  .Add_Button:hover {
    background-color: rgb(200, 200, 200);
}

.Add_Button:active {
    background-color: rgb(190, 190, 190);
}

.Add_Button:focus {
    outline: 0;
}

.Add_Button_Text {
    font-size: 19px;
    color: black;
}

.Add_Button_Logo {
    vertical-align: middle;
    margin-right: 3px;
    font-size: 25px;
}

.ToDo_Item_Card {
    height: 100px;
    background-color: rgb(180, 180, 180);
}