
.Popup_Background {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background-color: rgba(0,0,0, 0.5);
    z-index: 1;
    text-align: center;
}

.Popup {
    height: 400px;
    width: 600px;
    background-color: rgb(150, 150, 150);
    margin: 15% auto;
    border-radius: 10px;
    position: relative;
    z-index: 1;
}

.Popup_Title {
    color: white;
    text-decoration: underline;
    display: inline-block;
}

.Popup_CloseButton {
    display: inline-block;
    padding: 5px;
    border: transparent;
    line-height: 1.5;
    border: 1px solid black;
    border-radius: 5px;
    position: absolute;
    top: 0;
    right: 0;
    margin: 5px;
}

.Popup_CloseButton:hover {
    background-color: rgb(200, 200, 200);
}

.Popup_CloseButton:active {
    background-color: rgb(190, 190, 190);
}

.Popup_CloseButton:focus {
    outline: 0;
}

.Popup_CloseButton_Logo {
    font-size: 20px;
    margin: auto;
    vertical-align: middle;
}

.Popup_Input {
    margin-top: 20px;
}


.Task_Name_Input_Text {
    display: block;
    color: white;
    margin-right: 10px;
    font-size: 25px;
    margin-bottom: 5px;
}

.Task_Name_Input {
    display: block;
    border: transparent;
    line-height: 1.75;
    border-radius: 15px;
    font-family: carlito;
    padding-left: 13px;
    font-size: 20px;
    width: 500px;
    background-color: rgb(230, 230, 230);
}

.Task_Name_Input:focus {
    outline: 0;
}

.Task_Description_Input_Text {
    display: block;
    color: white;
    margin-right: 10px;
    font-size: 25px;
    margin-bottom: 5px;
}

.Task_Description_Input {
    display: block;
    border: transparent;
    line-height: 1.75;
    border-radius: 15px;
    padding-left: 13px;
    font-family: carlito;
    font-size: 20px;
    width: 500px;
    height: 100px;
    background-color: rgb(230, 230, 230);
}

.Task_Description_Input:focus {
    outline: 0;
}

.Input_Description {
    margin-top: 30px;
    text-align: left;
    margin-left: 30px;
    margin-bottom: 20px;
}

.Input_Name {
    text-align: left;
    margin-left: 30px;
}

.Validate_Button {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 10px;
    border: transparent;
    line-height: 1.75;
    font-size: 20px;
    border-radius: 15px;
    border: 1px solid black;
    padding-left: 15px;
    padding-right: 15px;
}

.Validate_Button:focus {
    outline: 0;
}

.Validate_Button:hover {
    background-color: rgb(200, 200, 200);
}

.Validate_Button:active {
    background-color: rgb(190, 190, 190);
}